{% extends "layout.html" %}

{% block content %}

<html ng-app = "ISSChatApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Space</title>

    <!--<link rel="stylesheet" href="./static/css/styles.css">
    <link rel="stylesheet" href="./static/css/pygment_trac.css">-->
    <meta name="viewport" content="width=device-width">
    <!--<script type = "text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type = "text/javascript"
         src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.js"></script>
    <script src = ./static/js/controller.js></script>-->
  </head>
  <body>
  <div class = "container" ng-controller="ChatController">

    <div class="wrapper" >
      <header>
        <h1>Chat</h1>
        <p>Live chat the live feed</p>
        <p>Name:
          <input type="text"  ng-model="name" ng-change="setName()" placeholder="Username" id="username" name="username" size="14" /></p>
           <div id = 'logIn' ng-show = "logIn" class = "container">
            <form ng-submit="login()">
                <p>Password:
                  <input type="text" ng-model="password"  placeholder="Password" id="password" name="password" size="14"/>

                  <input type="submit"  value="login" ng-disable="!name"  ng-disable="!password" ></p>
 
            </form>
                
        </div>
          
          
         <div class="scroll" id="msgpane">
         <p ng-repeat="msg in messages">
            <b ng-bind="msg.name"></b>:&nbsp;
            <span ng-bind="msg.text"></span>
              </p>
         
         
         </div>
         
         <form ng-submit="send()" ng-show="sendM">
              
                <input type="text" ng-model="text" size="30"  placeholder="..">
                <input type="submit"  value="Send" ng-disable="!name" >
               <!-- <p>
                  <a href="#" onclick="sendSql('select * from users', [], function(data) {console.log(data);})">select * from users</a>
                </p>-->
             
          </form>
                <form ng-submit="search()" ng-show="searchBox">
              
                <input type="text" ng-model="searchTerm" size="30"  placeholder="Search Term">
                <input type="submit"  value="Search" ng-disable="!name" >
               <!-- <p>
                  <a href="#" onclick="sendSql('select * from users', [], function(data) {console.log(data);})">select * from users</a>
                </p>-->
            
          </form>  
            
            
      </header>
      <section>
        <h1>ISS Live</h1>
        <!--<script src="./static/js/ttt_frominternet.js" ></script>-->

       <!-- <p>International Space Station Live Feed</p>-->

        
      
    </div>
    <script src="./static/js/scale.fix.js"></script>
    </div>
  </body>
</html>


{% endblock %}